-e git+https://github.com/orajestad9/daedalus.git@c9eb9b9eeaaab94c7ca49242b405aa257d52999a#egg=daedalus
iniconfig==2.3.0
librt==0.10.0
mypy==1.20.2
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
pluggy==1.6.0
Pygments==2.20.0
pytest==9.0.3
ruff==0.15.12
setuptools==82.0.1
typing_extensions==4.15.0
wheel==0.47.0
